1) Create a virtual env first
python3 -m spacy download en_core_web_lg
pip3 install spacy
pip3 install flask


2) endpoint
http://127.0.0.1:5000/api/extract_items
Json
{
   "sentence" : "I want 3 tomatoes from walmart"
}
